:root {
  --font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.bannerImage {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 75px;
}
.abt-msg {
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-family: var(--font-family);
  color: white;
}
.abt-msg h1 {
  font-size: 40px;
}
.abt-msg p {
  font-size: 20px;
  padding: 15px;
  font-weight: bold;
  font-family: var(--font-family);
}
.abt-writeup {
  display: grid;
  justify-content: center;
  align-items: center;
}
.abt-writeup h1 {
  text-align: center;
  font-family: var(--font-family);
  font-size: 30px;
  word-spacing: 3px;
}

.abt-writeup p {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 30px;
  max-width: 700px;
  word-spacing: 2px;
  margin-bottom: 20px;
  text-align: left !important;
}
