@media (max-width: 1224px) {
  .sermon {
    top: 50%;
  }
}
@media (max-width: 1024px) {
  .sermon {
    top: 25%;
  }

  .watch-button {
    width: 250px;
    height: 70px;
    font-size: 18px;
    padding: 14px;
  }
  .welcome-message-section {
    height: 50vh;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  .container .about-church {
    width: 80%;
    text-align: left;
  }

  .quick-links {
    gap: 40px;
  }

  .about-btn,
  .house-btn,
  .branch-btn {
    width: 200px;
  }
}
@media (max-width: 800px) {
  .welcome-message-section {
    height: 45vh;
  }
}
@media (max-width: 768px) {
  .sermon {
    top: 30%;
  }

  .watch-button {
    width: 250px;
    height: 70px;
    border-radius: 8px;
  }

  .welcome-message-section {
    line-height: 30px;
  }

  .welcome-section {
    padding-top: 10px;
  }

  .welcome-section .church-name {
    font-size: 20px;
    word-spacing: 3px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }

  .container .about-church {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: left;
  }

  .quick-links {
    gap: 20px;
  }

  .about-btn,
  .house-btn,
  .branch-btn {
    padding: 15px;
    width: 180px;
  }
}

@media (max-width: 468px) {
  .bannerImage {
    height: 70vh !important ;
  }
  .sermon {
    top: 30%;
    line-height: 50px;
  }
  .sermon .sermon-heading {
    padding-top: 30px;
    font-size: 20px;
  }
  .sermon .sermon-topic {
    font-size: 40px;
  }
  .watch-button {
    height: 60px;
  }
  .church-name {
    font-size: 32px !important;
    font-weight: lighter !important;
    height: 75px;
    word-spacing: 0.5px;
    letter-spacing: 0.5px;
  }
  .welcome-message-section {
    height: 85vh;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  }
  .container .about-church {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding: 8px;
    width: 600px;
    /* word-spacing: 3px; */
  }
  .quick-links {
    display: grid;
  }
}
@media (max-width: 428px) {
  .church-name {
    font-size: 23px !important  ;
  }
}
@media (max-width: 390px) {
  .welcome-message-section {
    height: 100vh;
  }

  .container .about-church {
    font-size: 20px;
    max-width: 950px;
    word-spacing: 3px;
  }
}
@media (max-width: 360px) {
  .welcome-message-section {
    height: 105vh;
  }
  .church-name {
    font-size: 20px !important;
  }
}
@media (max-width: 330px) {
  .bannerImage {
    width: 100%;
    height: 90vh !important ;
  }
  .welcome-message-section {
    height: 145vh;
  }
  .sermon-heading {
    padding-top: 80px !important;
  }

  .church-name {
    font-size: 20px;
  }
  .container .about-church {
    font-size: 20px;
    max-width: 500px !important;
  }
}

@media (max-width: 320px) {
  .welcome-message-section {
    height: 150vh;
  }
}
