:root {
  --orange: #a74f08;
  --sunset-yellow: #ffcc00;
  --white: #fff;
  --black: #000;
  --gray: #333;
}
.bannerImage {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 75px;
}
.sermon {
  line-height: 65px;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.sermon .sermon-heading {
  color: #fff;
  font-size: 25px;
}
.sermon .sermon-topic {
  color: var(--white);
  font-size: 30px;
}
.watch-button {
  width: 250px;
  height: 60px;
  border: 2px solid var(--orange);
  border-radius: 12px;
  background-color: var(--orange);
  cursor: pointer;
}
.watch-button:hover {
  border: 2px solid var(--white);
  background: transparent;
}
.watch-button .watch-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.watch-button .watch-content .watch-text {
  font-size: 22px;
  color: var(--white);
}
.watch-button .watch-content .tv-icon {
  width: 30px;
}
.welcome-message-section {
  text-align: center;
  line-height: 50px;
  background-color: var(--gray);
  color: var(--white);
}
.welcome-section {
  padding-top: 40px;
  text-align: center;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}
.welcome-section .welcome-heading {
  font-size: 16px;
  font-weight: bold;
}
.welcome-section .church-name {
  font-size: 30px;
  word-spacing: 10px;
}
.container {
  display: grid;
  justify-content: center;
  align-items: center;
}
.container .about-church {
  font-size: 20px;
  line-height: 30px;
  max-width: 800px;
  word-spacing: 2px;
  margin-bottom: 20px;
}
.quick-links {
  padding-top: 20px;
  display: flex;
  gap: 80px;
  justify-content: center;
}
.about-btn {
  color: white;
  background-color: var(--orange);
  width: 200px;
  padding: 14px;
  border: 1px solid var(--orange);
  border-radius: 5px;
  cursor: pointer;
}
.house-btn,
.branch-btn {
  color: white;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 5px;
  cursor: pointer;
  padding: 14px;
  width: 200px;
}
.btn:hover {
  border: 2px solid var(--white);
  background: transparent;
}

@media (max-width: 1024px) {
  .sermon {
    top: 30%;
  }

  .watch-button {
    width: 200px;
    height: 50px;
    font-size: 18px;
  }

  .container .about-church {
    width: 80%;
  }

  .quick-links {
    gap: 40px;
  }

  .about-btn,
  .house-btn,
  .branch-btn {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .sermon {
    top: 30%;
  }

  .watch-button {
    width: 250px;
    height: 70px;
    border-radius: 8px;
  }

  .welcome-message-section {
    line-height: 30px;
  }

  .welcome-section {
    padding-top: 10px;
  }

  .welcome-section .church-name {
    font-size: 20px;
    word-spacing: 3px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }

  .container .about-church {
    font-size: 18px;
    line-height: 25px;
    max-width: 490px;
    word-spacing: 4px;
    margin-bottom: 20px;
  }

  .quick-links {
    gap: 20px;
  }

  .about-btn,
  .house-btn,
  .branch-btn {
    padding: 15px;
    width: 180px;
  }
}
