:root {
  --orange: #a74f08;
  --white: white;
}
.quick-link {
  display: flex;
}
.quick-link .content .text {
  text-align: center;
  display: block;
  text-align: center;
  position: absolute;
}

/* .image{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
} */

.quick-link .content .text .pray-btn {
  width: 150px;
  height: 50px;
  border: 2px solid var(--orange);
  border-radius: 12px;
  background-color: var(--orange);
  cursor: pointer;
  color: white;
  position: relative;
}
.quick-link .content .text .pray-btn:hover {
  background: transparent;
  border: 2px solid var(--white);
}
