:root {
  --orange: #a74f08;
  --white: white;
}
.third-section {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: rgba(221, 221, 221, 1);
  border: none;
}

.quick-link {
  display: flex;
}

.content {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
}

.image {
  position: relative;
  max-width: 100%;
  /* overflow: hidden; */
}

.image img {
  width: 100%;
  height: 110vh;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

.text p {
  margin-bottom: 8px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: orange;
}

.text h2 {
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
}

.link-btn {
  padding: 10px 20px;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--orange);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 12px;
  width: 180px;
  height: 50px;
  background-image: linear-gradient(180deg, #e46b0a 0%, var(--orange) 100%);
  /* background-image: linear-gradient(180deg, #e46b0a 0%, #a9510a 100%); */
}

.link-btn:hover {
  background: transparent;
  border: 1px solid var(--white);
}
