:root {
  --orange: #a74f08;
  --sunset-yellow: #ffcc00;
  --white: #fff;
  --black: #000;
  --blue: blue;
}
* {
  margin: 0;
  padding: 0;
}
/* Navbar styling */
.navbar {
  background: var(--white);
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.scrollNav {
  background: var(--white); /* Change the background color on scroll */
}

/* Container for navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
}

/* Logo image in navbar */
.navbar-logo img {
  justify-self: flex-start;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: transparent;
}

/* Hamburger Menu Icon */
.menu-icon {
  display: none;
  cursor: pointer;
}

/* Hamburger styles */
.menu-icon div {
  width: 25px;
  height: 3px;
  background-color: var(--black);
  margin: 5px;
  transition: all 0.3s ease;
}

.change div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change div:nth-child(2) {
  opacity: 0;
}

.change div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Hamburger menu for larger screens */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}

/* ul sections containing nav links */
.nav-item {
  height: 60px;
}

.nav-links {
  color: var(--black);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

/* Active link styling */
.nav-item.active .nav-links {
  color: var(--orange);
}

.nav-links:hover {
  color: var(--blue);
}

/* Hamburger menu for smaller screens */
.active {
  transform: translateX(0);
}
@media screen and (max-width: 1240px) {
  .navbar {
    height: 90px;
  }
  .menu-icon {
    display: block;
    padding-top: 30px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 90%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-item {
    width: 90%;
    height: 80px;
  }

  .active {
    left: 0;
  }
}
@media screen and (max-width: 1240px) {
  .navbar {
    height: 120px;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 999;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .active .nav-menu {
    right: 0;
  }

  .nav-item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  .nav-links {
    text-decoration: none;
    color: var(--black);
    padding: 20px 0;
    display: block;
    width: 100%;
    transition: all 0.3s ease;
  }

  .nav-links:hover {
    background-color: #f0f0f0;
  }

  .navbar-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
    color: var(--black);
    text-decoration: none;
    z-index: 999;
  }
  .navbar-logo img {
    width: 100%;
    height: 90px;
  }
}
@media screen and (max-width: 1024px) {
  .navbar {
    height: 90px;
  }
  .menu-icon {
    display: block;
    padding-top: 30px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-item {
    width: 100%;
    height: 80px;
  }

  .active {
    left: 0;
  }
}

/* Add more breakpoints for tablet and mobile screens */
@media screen and (max-width: 768px) {
  .navbar {
    height: 79px;
  }
  .menu-icon {
    display: block;
    position: absolute;
    padding-top: 3px;
    right: 20px;
    z-index: 999;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .active .nav-menu {
    right: 0;
  }

  .nav-item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  .nav-links {
    text-decoration: none;
    color: var(--black);
    padding: 20px 0;
    display: block;
    width: 100%;
    transition: all 0.3s ease;
  }

  .nav-links:hover {
    background-color: #f0f0f0;
  }

  .navbar-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
    color: var(--black);
    text-decoration: none;
    z-index: 999;
  }
  .navbar-logo img {
    width: 100%;
    height: 80px;
  }
}

/* Hamburger menu styles for max-width: 1024px */
@media screen and (max-width: 1024px) {
  .navbar {
    height: 120px;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 999;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .active .nav-menu {
    right: 0;
  }

  .nav-item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  .nav-links {
    text-decoration: none;
    color: var(--black);
    padding: 20px 0;
    display: block;
    width: 100%;
    transition: all 0.3s ease;
  }

  .nav-links:hover {
    background-color: #f0f0f0;
  }

  .navbar-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
    color: var(--black);
    text-decoration: none;
    z-index: 999;
  }
  .navbar-logo img {
    width: 100%;
    height: 90px;
  }
}

/* Hamburger menu styles for max-width: 468px */
@media screen and (max-width: 468px) {
  .navbar {
    height: 90px;
  }
  .menu-icon {
    top: 15px;
    right: 15px;
  }

  .nav-menu {
    width: 80%;
  }
  .menu-icon {
    padding-top: 30px;
  }
  .navbar-logo {
    top: 15px;
    left: 15px;
    font-size: 1.2rem;
  }
  .navbar-logo img {
    width: 100%;
    height: 70px;
  }
  .nav-item {
    height: 60px;
  }
}

/* Hamburger menu styles for Apple Watch screen */
@media screen and (max-width: 394px) {
  .navbar {
    height: 95px;
  }
  .menu-icon {
    right: 10px;
  }

  .nav-menu {
    width: 90%;
  }
  .nav-item {
    height: 50px;
  }
  .navbar-logo {
    top: 10px;
    left: 10px;
    font-size: 0.3rem;
  }
  .navbar-logo img {
    width: 100%;
    height: 80px;
  }
}
