.bannerImage {
  width: 100%;
}
.heading {
  padding-top: 30px;
  text-align: center;
}

.about {
  padding-top: 30px;
  display: flex;
  gap: 2rem;
}
.daddyPic {
  width: 90vh;
}
.about-text {
  width: 50%;
}
