/* ScrollToTopButton.css */

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.top-scroll {
  padding: 8px 10px;
  background-color: rgba(231, 231, 231, 1);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.top-scroll:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
